<!-- Header -->
<div class="banner">
    <div class="header-container wrapper">
        <!-- Left logo -->
        <div class="site-icon">
            <a href="#"><img class="logo" fill="#000" src="img/AW.svg"
            alt="Aron Weston site logo with letters A and W in white."></a>
        </div>
        <!-- Right icons -->
        <ul class="sm-icons">
            <!-- Github -->
            <li>
                <a href="https://github.com/aronweston"><img class="icon" src="img/github.svg" alt="github logo"></a>
            </li>
            <!-- LinkedIn -->
            <li>
                <a href="https://www.linkedin.com/in/aronweston/"><img class="icon" src="img/linkedin.svg" alt="linkedin logo"></a>
            </li>
        </ul>
    </div>
</div>